.timer {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.timer-buttons {
  display: flex;
  justify-content: center;
  gap: 55px;
}

.time {
  font-size: 48px;
  font-weight: bold;
  padding: 15px 0;
}

mat-card-content {
  text-align: center;
}
