<div class="timer">
  <div class="timer-info">
    <h2>Timer</h2>
    <p>Scramble the cube per the scramble.  Scrambles should be performed with the green side forward and the white side up.</p>
  </div>

  <mat-card>
    <mat-card-content> <span style="color: red">Scramble: </span>{{scramble}}</mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-content *ngIf="!isInspectionTime" class="time">{{timer | solveTime}}</mat-card-content>
    <mat-card-content *ngIf="isInspectionTime" class="time">{{inspectionTime}}</mat-card-content>
  </mat-card>
  <div class="timer-buttons">
    <mat-form-field>
      <mat-label>Select Inspection Time</mat-label>
      <mat-select [(value)]="selectedInspectionTime">
        <mat-option value="0">0s</mat-option>
        <mat-option value="5">5s</mat-option>
        <mat-option value="10">10s</mat-option>
        <mat-option value="15">15s</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="startTimer()">Start</button>

    <button mat-raised-button color="primary" (click)="stopTimer()">Stop</button>
  </div>
</div>




